* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;  /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Prevent scrollbars */
}

canvas {
  display: block;
  width: 100vw;   /* Full viewport width */
  height: 100vh;  /* Full viewport height */
}
